.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  // background: transparent;
  color: #edededf6;


  &__logo {
    font-size: 1.5rem;
  }

  &__links {
    display: flex;
    gap: 1rem;
    list-style: none;

    li {
      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover a {
        color: #f00;
      }
    }
  }
}
